.row {
  max-width: $grid-width;
  margin: 0 auto;

  // The :not(selector) pseudo class selects all elements that do not match the specified selector. You can select multiple elements within the :not() pseudo-class separated by comma. These can be html elements, classes or IDs.
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  @include clearfix;
  // width < 800px
  @include respond-to(tab-port-med) {
    max-width: 70%;
  }
}

// The below code is an attribute selector. It targets markup elements based on what the provide inside the quotation marks. The ^ (caret) symbol tells the selector to target all instances. In our case, we want to target all classes that start with the "col-". We could use the asterix symbol * to target every selector containing the "col-" content. The $ symbol means to target all selectors that end with the "col-".
[class^="col-"] {
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal-big;

    // width < 1100px
    @include respond-to(tab-land-med) {
      margin-right: $gutter-horizontal-normal;
    }
    // width < 1000px
    @include respond-to(tab-land-sm) {
      margin-right: $gutter-horizontal-small;
    }
    // width < 800px
    @include respond-to(tab-port-med) {
      margin-right: 0;
    }
  }
  // width < 800px
  @include respond-to(tab-port-med) {
    width: 100% !important;
    margin-bottom: 4.8rem;
  }
}

.col-1-of-2 {
  // calc() in SASS is much more powerful than in CSS as we can mix various units. In CSS we can only use 1 particular unit to perform calculations.
  // width: calc((100% - $gutter-horizontal-big) / 2);
  @include column-width($gutter-horizontal-big, 2, 1);
  // width < 1100px
  @include respond-to(tab-land-med) {
    @include column-width($gutter-horizontal-normal, 2, 1);
  }
  // width < 1000px
  @include respond-to(tab-land-sm) {
    width: 100%;
  }
}

.col-1-of-3 {
  @include column-width($gutter-horizontal-big, 3, 1);
  // width < 1100px
  @include respond-to(tab-land-med) {
    @include column-width($gutter-horizontal-normal, 3, 1);
  }
  // width < 1000px
  @include respond-to(tab-land-sm) {
    @include column-width($gutter-horizontal-small, 3, 1);
  }
}

.col-1-of-4 {
  @include column-width($gutter-horizontal-big, 4, 1);

  // width < 1100px
  @include respond-to(tab-land-med) {
    @include column-width($gutter-horizontal-normal, 4, 1);
  }
  // width < 1000px
  @include respond-to(tab-land-sm) {
    @include column-width($gutter-horizontal-small, 4, 1);
  }
}

.col-2-of-3 {
  @include column-width($gutter-horizontal-big, 3, 2);

  // width < 1100px
  @include respond-to(tab-land-med) {
    @include column-width($gutter-horizontal-normal, 3, 2);
  }

  // width < 1000px
  @include respond-to(tab-land-sm) {
    @include column-width($gutter-horizontal-small, 3, 2);
  }
}

.col-2-of-4 {
  @include column-width($gutter-horizontal-big, 4, 2);

  // width < 1100px
  @include respond-to(tab-land-med) {
    @include column-width($gutter-horizontal-normal, 4, 2);
  }
  // width < 1000px
  @include respond-to(tab-land-sm) {
    @include column-width($gutter-horizontal-small, 4, 2);
  }
}

.col-3-of-4 {
  @include column-width($gutter-horizontal-big, 4, 3);

  // width < 1100px
  @include respond-to(tab-land-med) {
    @include column-width($gutter-horizontal-normal, 4, 3);
  }
  // width < 1000px
  @include respond-to(tab-land-sm) {
    @include column-width($gutter-horizontal-small, 4, 3);
  }
}
