.header {
  // This property sets the height of the HTML element to 95% of the current viewport. Monitors vary in size, so this property resizes the elements based on the maximum height of the view port.
  height: 95vh;
  // Default image
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/hero-1000.jpg);
  // Set the image to cover the whole width of the viewport
  background-size: cover;
  // Setting up the image position to top makes it stay at the the middle part of the screen when we use a device with a different viewport size.
  background-position: top;
  // syntax: (x y(first point), x y (2nd point), x y (3rd point), x y (4th point)
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  // clip-path: polygon(0% 100%, 50% 0, 100% 100%);
  position: relative;

  /* Load hero-1000.jpg image */
  @include resolution-media-1000 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../../img/hero-1000.jpg);
  }
  /* Load hero-1500.jpg image */
  @include resolution-media-1500 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../../img/hero-1500.jpg);
  }

  /* Load hero-2000.jpg image */
  @include resolution-media-2000 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../../img/hero-2000.jpg);
  }

  // width < 1200px
  @include respond-to(tab-land) {
    max-height: 70%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 90%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    // width < 900px
    @include respond-to(tab-port-big) {
      top: 6.4rem;
      left: 6.4rem;
      // transform: translate(-50%, -50%);
    }

    // width < 600px
    @include respond-to(phone-big) {
      top: 4rem;
      left: 4rem;
    }
  }
  &__logo {
    // We don't need to specify the width property. Browsers will figure it out.
    height: 4rem;
    backface-visibility: hidden;
    // Apply animation on hover
    &:hover {
      animation: enlarge 1s ease-in-out;
    }

    // width < 600px
    @include respond-to(phone-big) {
      height: 4.8rem;
    }
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    // Anchor tags - "a" elements are treated as text. Therefore, setting the text-align property works.
    text-align: center;
  }
}
