.navigation {
  // Default checkbox styling removal
  &__checkbox {
    display: none;
    appearance: none;
  }

  // hamburger button background styling
  &__button {
    @include navi_button;
    width: 6.4rem;
    height: 6.4rem;
    top: 6.4rem;
    right: 6.4rem;
    background-color: $color-white;
    z-index: 300;
    text-align: center;
    @include button-shadow-static;
    transition: all 0.2s;
    &:hover {
      @include button-shadow-hover;
    }
    &:active {
      @include button-shadow-active;
      transform: translateY(0.3rem);
    }
  }

  // Styling the initial state of the navigation background that emerges from behind the nav button
  &__background {
    @include navi_button;
    width: 5.9rem;
    height: 5.9rem;
    top: 6.8rem;
    right: 6.8rem;
    z-index: 100;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    transition: all 0.3s linear;
  }

  // Styling of the background on a hamburger button click
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  // Navigation styling when the nav opens
  &__nav {
    height: 100vh;
    // Hide the nav menu when closed
    width: 0%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 200;
    opacity: 0;
    // visibility: hidden;
    transition: opacity 0.8s;
  }

  // When the nav opens, set its width to 100% so the links can emerge from the left to the center of the screen.
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }

  // Hiding the nav content when closed and setting its initial position to be centered when the nav opens (and sets its width to 100%)
  &__list {
    @include absolute_positioning_center;
    transition: 0.3s all;
  }

  // Animating the emergence of the nav content to the center of the screen
  &__checkbox:checked ~ &__nav &__list {
    text-align: center;
  }

  // Styling the list item elements for the nav
  &__item {
    display: block;
    list-style: none;
    margin: 1.2rem;
  }

  // Styling the initial state of nav links when they emerge from the left side of the screen to the center
  &__link,
  &__link:link,
  &__link:visited {
    font-size: 3rem;
    font-weight: 300;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.8rem 2.4rem;
    // Setting up static linear background of two colours for the link animation
    background-image: linear-gradient(
      120deg,
      transparent 0 50%,
      $color-white 50% 100%
    );
    transition: all 0.4s;
    // To make the primary colour cover the entire link element and maintain the stylish angled background animation, setting the background-size with a high value is necessary for the primary colour to overflow the entire element. The white background is pushed out to the right hand side due to the size of the background and its initial position set to 0 on the X and Y axes.
    background-size: 230%;

    span {
      margin-right: 1.6rem;
    }

    &:hover,
    &:active {
      // The default background-position value is 0% (0 at the X and 0 at the Y axis). When set to 100%, the X and Y values are at the maximums of their axis values (bottom-right corner of the background/image)
      background-position: 100%;
      color: $color-primary;
      transform: translateX(0.8rem);
    }
  }

  // Styling of the hamburger icon's appearance
  &__icon {
    @include navi_icon;
    position: relative;
    top: 50%;
    &::before,
    &::after {
      content: "";
      @include navi_icon;
      position: absolute;
      transition: all 0.3s;
    }
    &::before {
      top: -0.8rem;
      left: 0;
    }
    &::after {
      top: 0.8rem;
      left: 0%;
    }
  }

  // Styling the hamburger icon's animation on hover
  &__button:hover &__icon::before {
    transform: scaleY(1.5) translateY(-0.1rem);
  }

  &__button:hover &__icon::after {
    transform: scaleY(1.5) translateY(0.1rem);
  }

  // Styling the hamburger icon's animation on active
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
