.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;

  &__content {
    height: 100%;
    width: 100%;
    // Object-fit property works like the background-image property for images if we set its value to cover. The object-fit: cover CSS rule is used to specify how an element (typically an <img> or <video>) should be resized and fitted inside its container while maintaining its aspect ratio.
    object-fit: cover;
  }
}
