@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute_positioning_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button-shadow-static {
  box-shadow: 0 1rem 1.5rem rgba($color-black, 0.1);
}
@mixin button-shadow-hover {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}
@mixin button-shadow-active {
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
}

// rem and em do not depend on the html font-size in media queries.
// Instead, 1 rem = 1em = 16px
// rem units are buggy in some browsers, therefore we should always use em
// to calculate the width in em, use the following formula: em width = pixels / 16
// We also don't want to use pixels for accessibility reasons (the user still want to apply their custom web browser font size on our page) and zoom feature.

/*
======== MEDIA QUERY MANAGER ========

0 - 600 (37.5em):         Phone
600 - 900 (56.25em):      Tablet portrait
900 - 1200 (75em):     Tablet landscape
1200 - 1800 (112.5em):    Normal style
1800+ :                   Big desktop
*/

/*
======== BREAKPOINT ARGUMENTS ========
- phone
- tab-port
- tab-land
- normal-dt
  a) normal-dt-s
  b) normal-dt-m
  c) normal-dt-b
- big-dt

The ORDER of styling our webpage with media queries: 
1. Base + typography
2. General layout + grid
3. Page layout
4. Components

*/

@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    // width < 600px
    @media screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // width < 900px
    @media screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // width < 1200px
    @media screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-dt {
    // width > 1800px
    @media screen and (min-width: 112.5em) {
      @content;
    }
  }
}

/*======== POPUP MEDIA QUERY ========*/
