@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Column widths mixins
@mixin column-width($gutter-horizontal, $no-columns, $occupied-space-col) {
  @if $no-columns == 2 and $occupied-space-col == 1 {
    width: calc((100% - $gutter-horizontal) / 2);
  }
  @if $no-columns == 3 and $occupied-space-col == 1 {
    width: calc((100% - (2 * $gutter-horizontal)) / 3);
  }
  @if $no-columns == 4 and $occupied-space-col == 1 {
    width: calc((100% - (3 * $gutter-horizontal)) / 4);
  }
  @if $no-columns == 3 and $occupied-space-col == 2 {
    width: calc(
      ((100% - (2 * $gutter-horizontal)) / 3) * 2 + $gutter-horizontal
    );
  }
  @if $no-columns == 4 and $occupied-space-col == 2 {
    width: calc(
      ((100% - (3 * $gutter-horizontal)) / 4) * 2 + $gutter-horizontal
    );
  }
  @if $no-columns == 4 and $occupied-space-col == 3 {
    width: calc(
      ((100% - (3 * $gutter-horizontal)) / 4) * 3 + 2 * $gutter-horizontal
    );
  }
}

@mixin absolute_positioning_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button-shadow-static {
  box-shadow: 0 1rem 1.5rem rgba($color-black, 0.1);
}
@mixin button-shadow-hover {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}
@mixin button-shadow-active {
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
}

// rem and em do not depend on the html font-size in media queries.
// Instead, 1 rem = 1em = 16px
// rem units are buggy in some browsers, therefore we should always use em
// to calculate the width in em, use the following formula: em width = pixels / 16
// We also don't want to use pixels for accessibility reasons (the user still want to apply their custom web browser font size on our page) and zoom feature.

/*
======== MEDIA QUERY MANAGER ========

0 - 600 (37.5em):         Phone
600 - 900 (56.25em):      Tablet portrait
900 - 1200 (75em):     Tablet landscape
1200 - 1800 (112.5em):    Normal style
1800+ :                   Big desktop
*/

/*
======== BREAKPOINT ARGUMENTS ========
- phone
- tab-port
- tab-land
- normal-dt
  a) normal-dt-s
  b) normal-dt-m
  c) normal-dt-b
- big-dt

The ORDER of styling our webpage with media queries: 
1. Base + typography
2. General layout + grid
3. Page layout
4. Components

*/

@mixin respond-to($breakpoint) {
  @if $breakpoint == phone-sm {
    // width < 400px
    @media only screen and (max-width: 25em) {
      @content;
    }
  }
  @if $breakpoint == phone-med {
    // width < 500px
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }
  @if $breakpoint == phone-big {
    // width < 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port-sm {
    // width < 700px
    @media only screen and (max-width: 43.75em) {
      @content;
    }
  }
  @if $breakpoint == tab-port-med {
    // width < 800px
    @media only screen and (max-width: 50em) {
      @content;
    }
  }
  @if $breakpoint == tab-port-big {
    // width < 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land-sm {
    // width < 1000px
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-land-med {
    // width < 1100px
    @media only screen and (max-width: 68.75em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // width < 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == popup {
    // width < 1449px
    @media only screen and (max-width: 90.5625em) {
      @content;
    }
  }
  @if $breakpoint == big-dt {
    // width > 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

/*
  CSS media query syntax for background image explanation:

  "@media"
    The @media rule is used in CSS to apply styles based on specific conditions, such as the type of device, screen size, or resolution. It allows you to create responsive designs that adapt to different environments.

  "only screen"
    only: This keyword is used to apply the media query to specific media types and to hide styles from older browsers that do not support media queries. It’s optional but can improve compatibility.

    screen: This keyword specifies that the styles should be applied to screen devices (monitors, tablets, smartphones). Other values could be "print" for print media or "all" for all media types.

  "and"
    The and keyword is used to combine multiple conditions in a media query. All conditions must be true for the styles to be applied.

  "(max-width: 1000px)"
    This condition applies the styles if the viewport width is less than or equal to 1000 pixels. It targets devices with smaller screens, such as tablets and smartphones.

  "(min-resolution: 96dpi)"
    This condition applies the styles if the device has a resolution of at least 96 dots per inch (dpi). This is a standard resolution for many devices.

  "," (Comma)
    The comma acts as an "or" operator, meaning that if any of the combined conditions (each set of conditions separated by commas) are true, the styles within the media query will be applied.
  */

/*
  Screen resolutions:
  DPR 1.0 = 96 dpi (standard displays)
  DPR 2.0 = 192 dpi (2x Retina displays)
  DPR 3.0 = 288 dpi (3x Retina displays)
  */

/* Load a 1000px wide image */
@mixin resolution-media-1000 {
  @media only screen and (max-width: 62.5em) and (min-resolution: 96dpi),
    only screen and (max-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1),
    only screen and (max-width: 31.25em) and (min-resolution: 192dpi),
    only screen and (max-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (max-width: 20.81em) and (min-resolution: 288dpi),
    only screen and (max-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3) {
    @content;
    /*
    Media query conditions explained:
    - Screen width ≤ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi (standard displays). 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≤ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≤ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}

/* Load a 1500px wide image */
@mixin resolution-media-1500 {
  @media only screen and (min-width: 62.5em) and (min-resolution: 96dpi),
    only screen and (min-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1),
    only screen and (min-width: 31.25em) and (min-resolution: 192dpi),
    only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: 20.81em) and (min-resolution: 288dpi),
    only screen and (min-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3) {
    @content;
    /*
    Media query conditions explained:
    - Screen width ≥ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi. 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≥ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
/* Load a 2000px wide image */
@mixin resolution-media-2000 {
  @media only screen and (min-width: 93.75em) and (min-resolution: 96dpi),
    only screen and (min-width: 93.75em) and (-webkit-min-device-pixel-ratio: 1),
    only screen and (min-width: 46.875em) and (min-resolution: 192dpi),
    only screen and (min-width: 46.875em) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: 31.25em) and (min-resolution: 288dpi),
    only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 3) {
    @content;
    /*
    Media query conditions explained:
    - Screen width ≥ 1500px (1500px screen width / 16px default font size = 93.75em) with a minimum resolution of 96dpi. 1.0DPR x 1500px = 1500px screen width.
    - Screen width ≥ 750px (750px screen width / 16px default font size = 62.5em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 750px = 1500px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 500px = 1500px screen width.
    */
  }
}
