@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute_positioning_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button-shadow-static {
  box-shadow: 0 1rem 1.5rem rgba($color-black, 0.1);
}
@mixin button-shadow-hover {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}
@mixin button-shadow-active {
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
}
