// ========= COLOURS =========
// MAIN
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// SECONDARY
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// TERTIARY
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// GREY & SHADES
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #c9c9c9;
$color-grey: #a0a0a0;
$color-grey-dark: #777;
$color-grey-dark-2: #333333;

// PRIMARY COLORS
$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal-big: 6.4rem;
$gutter-horizontal-normal: 3.2rem;
$gutter-horizontal-small: 1.6rem;

// BORDER RADIUS
$br-normal: 3px;

// SECTION WHITESPACE
$section-padding-normal: 17.6rem 0;
$section-padding-small: 14.4rem 0;
$section-padding-bottom-small: 17.6rem 0 14.4rem 0;

$section-padding-tab-land: 16rem 0;
$section-padding-tab-land-btm-sm: 16rem 0 11.2rem 0;
$section-padding-tab-land-top-big: 24rem 3.2rem 20.8rem 3.2rem;
$section-padding-tab-land-med: 14.4rem 0;
$section-padding-tab-land-sm: 11.2rem 3.2rem;

$section-poadding-tab-port: 14.4rem 2.4rem;
$section-poadding-tab-port-med: 12.8rem 2.4rem;
$section-poadding-tab-port-sm: 9.6rem 2.4rem;

// MEDIA QUERIES
