.section-about {
  background-color: $color-grey-light-1;
  padding: $section-padding-normal;
  margin-top: -20vh;
}

.section-features {
  padding: $section-padding-normal;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -7rem;

  // To remove the skew from children elements we will use the direct child selector. We could remove the skew effect explicitly from feauture boxes, but imagine what happens when we add new content to our features section. We would have to remove this effect from the new content as well. Instead, we can select all direct children elements found in the section-features element, avoiding the hassle of removing the skew effect explicitly in all child elements.

  // What is a direct child element? It is a child element directly adjacent to its parent element.
  & > * {
    // CSS syntax
    // .section-features > *
    transform: skewY(5deg);
  }

  // If we used the "& *" selector to select all child elements, not only direct ones, then each subsequent deeper nested element will be rotated by another extra 5 degrees relatively to its parent element. So if you have a lot of nesting, each subsequent node will be skewed by 5 degrees more in relation to its adjacent parent element.Therefore, for instance, if you have 4 subsequent nested nodes, the last child element will be skewed by 20 degrees (4 times 5 is 20).

  // & * {
  //   // CSS syntax
  //   // .section-features > *
  //   transform: skewY(5deg);
  // }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: $section-padding-bottom-small;
  margin-top: -7rem;
}

.section-stories {
  padding: $section-padding-small;
  position: relative;
}

// Booking section general styling
.section-book {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: $section-padding-normal;
}

// Booking form layout
.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0% 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  border-radius: $br-normal;
  box-shadow: 0 1.6rem 4rem rgba($color-black, 0.15);

  &__form {
    width: 50%;
    padding: 4.8rem;
  }
}

.section-about,
.section-features {
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land;
  }
}

.section-tours {
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land-btm-sm;
  }
}

.section-stories,
.section-book {
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land-sm;
  }
}
