.section-about {
  background-color: $color-grey-light-1;
  padding: $section-padding-normal;
  margin-top: -20vh;

  // width < 1100px
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land-top-big;
  }

  // width < 800px
  @include respond-to(tab-port-med) {
    padding: $section-padding-tab-port-tb-big;
  }

  // width < 600px
  @include respond-to(phone-big) {
    padding: $section-padding-phone-tb-big;
  }
}

.section-features {
  padding: $section-padding-normal;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4-1000.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -7rem;

  // To remove the skew from children elements we will use the direct child selector. We could remove the skew effect explicitly from feauture boxes, but imagine what happens when we add new content to our features section. We would have to remove this effect from the new content as well. Instead, we can select all direct children elements found in the section-features element, avoiding the hassle of removing the skew effect explicitly in all child elements.

  // What is a direct child element? It is a child element directly adjacent to its parent element.
  & > * {
    // CSS syntax
    // .section-features > *
    transform: skewY(5deg);
  }

  // If we used the "& *" selector to select all child elements, not only direct ones, then each subsequent deeper nested element will be rotated by another extra 5 degrees relatively to its parent element. So if you have a lot of nesting, each subsequent node will be skewed by 5 degrees more in relation to its adjacent parent element.Therefore, for instance, if you have 4 subsequent nested nodes, the last child element will be skewed by 20 degrees (4 times 5 is 20).

  // & * {
  //   // CSS syntax
  //   // .section-features > *
  //   transform: skewY(5deg);
  // }

  // Load 1000px wide image
  @include resolution-media-1000 {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../../img/nat-4-1000.jpg);
  }
  // Load 1500px wide image
  @include resolution-media-1500 {
    background-image: linear-gradient(
        to right bottom,
        rgba(blue, 0.8),
        rgba(blue, 0.8)
      ),
      url(../../img/nat-4-1500.jpg);
  }

  // Load 2000px wide image
  @include resolution-media-2000 {
    background-image: linear-gradient(
        to right bottom,
        rgba(orange, 0.8),
        rgba(orange, 0.8)
      ),
      url(../../img/nat-4-2000.jpg);
  }

  // width < 1100px
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land;
  }

  // width < 800px
  @include respond-to(tab-port-med) {
    padding: $section-padding-tab-port;
  }

  // width < 600px
  @include respond-to(phone-big) {
    padding: $section-padding-phone;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: $section-padding-btm-sm;
  margin-top: -7rem;

  // width < 1100px
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land-btm-sm;
  }

  // width < 800px
  @include respond-to(tab-port-med) {
    padding: $section-padding-tab-port-t-big;
  }

  // width < 600px
  @include respond-to(phone-big) {
    padding: $section-padding-phone-tb-big;
  }
}

.section-stories {
  padding: $section-padding-small;
  position: relative;

  // width < 1100px
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land-sm;
  }

  // width < 800px
  @include respond-to(tab-port-med) {
    padding: $section-padding-tab-port-sm;
  }

  // width < 600px
  @include respond-to(phone-big) {
    padding: $section-padding-phone;
  }
}

// Booking section general styling
.section-book {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: $section-padding-normal;

  // width < 1100px
  @include respond-to(tab-land-med) {
    padding: $section-padding-tab-land-sm;
  }

  // width < 800px
  @include respond-to(tab-port-med) {
    padding: $section-padding-tab-port-sm;
  }

  // width < 600px
  @include respond-to(phone-big) {
    padding: 8rem;
  }

  // width < 500px
  @include respond-to(phone-med) {
    padding: 4.8rem;
  }
  // width < 400px
  @include respond-to(phone-sm) {
    padding: 6.4rem 3.2rem;
  }
}

// Booking form layout
.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0% 50%,
      transparent 50%
    ),
    url(../../img/nat-10-1000.jpg);
  background-size: cover;
  border-radius: $br-normal;
  box-shadow: 0 1.6rem 4rem rgba($color-black, 0.15);
  // Load 1000px wide image
  @include resolution-media-1000 {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0% 50%,
        transparent 50%
      ),
      url(../../img/nat-10-1000.jpg);
  }

  // Load 1500px wide image
  @include resolution-media-1500 {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0% 50%,
        transparent 50%
      ),
      url(../../img/nat-10-1500.jpg);
  }
  // Load 2000px wide image
  @include resolution-media-2000 {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0% 50%,
        transparent 50%
      ),
      url(../../img/nat-10-2000.jpg);
  }

  // width < 700px
  @include respond-to(tab-port-sm) {
    // Load 1000px wide image
    @include resolution-media-1000 {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.9) 0% 60%,
          transparent 60%
        ),
        url(../../img/nat-10-1000.jpg);
    }
    // Load 1500px wide image
    @include resolution-media-1500 {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.9) 0% 60%,
          transparent 60%
        ),
        url(../../img/nat-10-1500.jpg);
    }
    // Load 2000px wide image
    @include resolution-media-2000 {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.9) 0% 60%,
          transparent 60%
        ),
        url(../../img/nat-10-2000.jpg);
    }
  }

  // width < 600px
  @include respond-to(phone-big) {
    background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0% 100%,
      transparent 100%
    );
  }

  &__form {
    width: 50%;
    padding: 4.8rem;

    // width < 800px
    @include respond-to(tab-port-med) {
      padding: 4rem;
      width: 70%;
    }

    // width < 700px
    @include respond-to(tab-port-sm) {
      padding: 3.2rem;
    }

    // width < 600px
    @include respond-to(phone-big) {
      width: auto;
      padding: 7.2rem;
    }

    // width < 500px
    @include respond-to(phone-med) {
      width: auto;
      padding: 3.2rem;
    }
  }
}
