@charset "UTF-8";
/*
======== MEDIA QUERY MANAGER ========

0 - 600 (37.5em):         Phone
600 - 900 (56.25em):      Tablet portrait
900 - 1200 (75em):     Tablet landscape
1200 - 1800 (112.5em):    Normal style
1800+ :                   Big desktop
*/
/*
======== BREAKPOINT ARGUMENTS ========
- phone
- tab-port
- tab-land
- normal-dt
  a) normal-dt-s
  b) normal-dt-m
  c) normal-dt-b
- big-dt

The ORDER of styling our webpage with media queries: 
1. Base + typography
2. General layout + grid
3. Page layout
4. Components

*/
/*
  CSS media query syntax for background image explanation:

  "@media"
    The @media rule is used in CSS to apply styles based on specific conditions, such as the type of device, screen size, or resolution. It allows you to create responsive designs that adapt to different environments.

  "only screen"
    only: This keyword is used to apply the media query to specific media types and to hide styles from older browsers that do not support media queries. It’s optional but can improve compatibility.

    screen: This keyword specifies that the styles should be applied to screen devices (monitors, tablets, smartphones). Other values could be "print" for print media or "all" for all media types.

  "and"
    The and keyword is used to combine multiple conditions in a media query. All conditions must be true for the styles to be applied.

  "(max-width: 1000px)"
    This condition applies the styles if the viewport width is less than or equal to 1000 pixels. It targets devices with smaller screens, such as tablets and smartphones.

  "(min-resolution: 96dpi)"
    This condition applies the styles if the device has a resolution of at least 96 dots per inch (dpi). This is a standard resolution for many devices.

  "," (Comma)
    The comma acts as an "or" operator, meaning that if any of the combined conditions (each set of conditions separated by commas) are true, the styles within the media query will be applied.
  */
/*
  Screen resolutions:
  DPR 1.0 = 96 dpi (standard displays)
  DPR 2.0 = 192 dpi (2x Retina displays)
  DPR 3.0 = 288 dpi (3x Retina displays)
  */
/* Load a 1000px wide image */
/* Load a 1500px wide image */
/* Load a 2000px wide image */
/* ************* DESKTOP *************** */
/* ************* TABLET LANDSCAPE *************** */
/* ************* TABLET PORTRAIT *************** */
/* ************* PHONE *************** */
/* A cross-browser reset, often referred to as a CSS reset or a CSS normalization, is a technique used to reset or normalize default browser styling to create a consistent starting point for styling elements across different web browsers.

Different browsers have their default styles for various HTML elements. This can lead to inconsistencies in appearance and layout between browsers. A CSS reset aims to neutralize these default styles, removing browser-specific styling differences, and providing a consistent baseline styling for your webpage across different browsers. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  /* 60% {
    transform:rotate(-20deg)
  } */
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes MoveInButton {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6.4rem;
}
.heading-primary--main {
  display: block;
  font-size: 6.2rem;
  letter-spacing: 3.6rem;
  font-weight: 400;
  animation-name: MoveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 5.2rem;
    letter-spacing: 1.75rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .heading-primary--main {
    font-size: 4.4rem;
    letter-spacing: 1.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  font-weight: 700;
  animation: MoveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 1.8rem;
    letter-spacing: 1rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .heading-primary--sub {
    font-size: 1.6rem;
    letter-spacing: 0.75rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.4rem;
    letter-spacing: 0;
  }
}
.heading-secondary:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}
@media only screen and (max-width: 50em) {
  .u-margin-bottom-medium {
    margin-bottom: 2.4rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-extrabig {
  margin-bottom: 9.6rem !important;
}

@media only screen and (max-width: 50em) {
  .u-mediaquery-about {
    max-width: 80% !important;
  }
}
@media only screen and (max-width: 62.5em) {
  .u-mediaquery-composition {
    margin-bottom: 8rem;
  }
  .u-mediaquery-composition:not(:last-child) {
    margin-bottom: 8rem !important;
  }
}
@media only screen and (max-width: 50em) {
  .u-mediaquery-composition:not(:last-child) {
    margin-bottom: 11.2rem !important;
  }
}
@media only screen and (max-width: 50em) {
  .u-mediaquery-book {
    max-width: 100% !important;
  }
}
@media only screen and (max-width: 50em) {
  .u-mediaquery-story {
    max-width: 85% !important;
  }
}
@media only screen and (max-width: 37.5em) {
  .u-mediaquery-story {
    max-width: 90% !important;
  }
}
@media only screen and (max-width: 31.25em) {
  .u-mediaquery-featurebox {
    max-width: 80% !important;
  }
}
@media only screen and (max-width: 37.5em) {
  .u-mediaquery-card {
    max-width: 80% !important;
  }
}
@media only screen and (max-width: 62.5em) {
  .u-mediaquery-footer {
    max-width: 80% !important;
  }
}
@media only screen and (max-width: 90.5625em) {
  .u-mediaquery__popup-center {
    text-align: center;
    display: block;
  }
}
@media only screen and (max-width: 56.25em) {
  .u-mediaquery__popup-center {
    text-align: start;
  }
}

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  padding: 1.6rem 4rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s ease;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* We want to see the advanced animation only if we hover over the button */
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  /* We want the pseudo element look exactly the same as the button. Therefore, we want to specify its properties like height and width to be the same. Therefore, we need to set their values to 100% (100% of the parent element). It works, because pseudo element is treated like a child element of the parent element (button).*/
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  background-color: #fff;
  color: #777;
  /* We also want to specify the colour of the pseudo element to be white, but this needs to be applied to .btn--white class. */
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
  /* We also want to specify the colour of the pseudo element to be green, but this needs to be applied to .btn--green class. */
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  animation: MoveInButton 0.5s ease-out 0.75s;
  /* animation fill mode set to backwards applies the 0% animation declaration to our button before the animation happens. Therefore, we don't have to explicitly apply these styles to the button which prevents confusion. */
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  display: inline-block;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-3px);
  transition: all 0.2s ease;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-text:active {
  transform: translateY(0px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.composition {
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .composition {
    margin: 0 auto;
    width: 90%;
  }
}
@media only screen and (max-width: 50em) {
  .composition {
    margin: 0;
    width: 100%;
  }
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: absolute;
  transition: all 0.2s;
  z-index: 10;
}
@media only screen and (max-width: 62.5em) {
  .composition__photo {
    float: left;
    position: relative;
    display: inline-block;
    width: 33.3333333333%;
    height: auto;
    vertical-align: top;
  }
}
@media only screen and (max-width: 43.75em) {
  .composition__photo {
    width: 40%;
  }
}
@media only screen and (max-width: 31.25em) {
  .composition__photo {
    width: 65%;
  }
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
@media only screen and (max-width: 62.5em) {
  .composition__photo--p1 {
    left: 0;
    top: 0;
    transform: scale(1.2);
  }
}
@media only screen and (max-width: 43.75em) {
  .composition__photo--p1 {
    top: 0;
    left: 3rem;
    transform: scale(1.5);
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  left: 40%;
  top: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .composition__photo--p2 {
    top: -1rem;
    left: 0;
    transform: scale(1.2);
    z-index: 20;
  }
}
@media only screen and (max-width: 43.75em) {
  .composition__photo--p2 {
    top: 2rem;
    left: 8rem;
    z-index: 10;
    transform: scale(1.5);
  }
}
@media only screen and (max-width: 31.25em) {
  .composition__photo--p2 {
    top: -5rem;
    left: 11rem;
    transform: scale(1.2);
  }
}
.composition__photo--p3 {
  top: 12rem;
  left: 16%;
}
@media only screen and (max-width: 62.5em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.2);
  }
}
@media only screen and (max-width: 43.75em) {
  .composition__photo--p3 {
    top: -2rem;
    left: -12%;
    transform: scale(1.5);
  }
}
@media only screen and (max-width: 31.25em) {
  .composition__photo--p3 {
    top: -5rem;
    left: 2rem;
    transform: scale(1.2);
  }
}
.composition__photo:hover {
  z-index: 100;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.4rem 4rem rgba(0, 0, 0, 0.5);
  outline: #55c57a solid 1.5rem;
  outline-offset: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .composition__photo:hover {
    transform: scale(1.25) translateY(-0.5rem);
  }
}
@media only screen and (max-width: 43.75em) {
  .composition__photo:hover {
    transform: scale(1.55) translateY(-0.5rem);
    outline-offset: 1rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .composition__photo:hover {
    transform: scale(1.25) translateY(-0.5rem);
    outline: #55c57a solid 1rem;
    outline-offset: 0.5rem;
  }
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
@media only screen and (max-width: 62.5em) {
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1.15);
  }
}
@media only screen and (max-width: 43.75em) {
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1.45);
  }
}
@media only screen and (max-width: 31.25em) {
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(1.15);
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  padding: 2.4rem;
  border-radius: 3px;
  box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-out;
}
@media only screen and (max-width: 75em) {
  .feature-box {
    padding: 1.6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 1.2rem;
  }
}
.feature-box:hover {
  transform: scale(1.04) translateY(-1.6rem);
}
.feature-box__icon {
  font-size: 6.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card {
  perspective: 100rem;
  position: relative;
  height: 52rem;
}
.card__side {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.5s linear;
  font-size: 3rem;
  height: 52rem;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5-1000.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6-1000.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7-1000.jpg);
}
.card__heading {
  font-size: 3rem;
  font-weight: 300;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 0.8rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  font-size: 1.6rem;
  padding: 3.2rem;
  text-align: center;
}
.card__details ul {
  list-style: none;
  max-width: 80%;
  margin: auto;
}
.card__details li {
  text-decoration: none;
  padding: 0.8rem;
}
.card__details li:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: #fff;
  text-align: center;
}
.card__cta-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__cta-value {
  font-size: 6.2rem;
  font-weight: 100;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 50em), only screen and (hover: none) {
  .card {
    height: auto;
    box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .card__side {
    height: auto;
    border-radius: 3px;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__cta {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    transform: none;
    position: relative;
    color: #fff;
    width: 100%;
    padding: 4.8rem 0 3.2rem 0;
  }
  .card__cta-only {
    font-weight: 600;
  }
  .card__cta-value {
    font-size: 4.4rem;
    font-weight: 200;
    margin-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 31.25em), only screen and (hover: none) {
  .card__picture {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0 100%);
  }
  .card__details {
    padding: 1.6rem;
  }
  .card__details li {
    padding: 0.4rem;
  }
  .card__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  }
  .card__cta {
    padding: 2.4rem 0 1.6rem 0;
  }
  .card__cta-value {
    margin-bottom: 1.6rem;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
  padding: 6.4rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  padding-left: 9.6rem;
  transform: skewX(-12deg);
}
@media only screen and (max-width: 50em) {
  .story {
    width: 100%;
    padding: 3.2rem 3.2rem 3.2rem 4.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .story {
    transform: skewX(0);
  }
}
.story:hover .story__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.story > * {
  transform: skewX(12deg);
}
@media only screen and (max-width: 37.5em) {
  .story > * {
    transform: skewX(0);
  }
}
.story__shape {
  float: left;
  width: 15.2rem;
  height: 15.2rem;
  overflow: hidden;
  border-radius: 50%;
  transform: translateX(-3.2rem) skewX(12deg);
  position: relative;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .story__shape {
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}
@media only screen and (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-3.2rem) skewX(0);
  }
}
@media only screen and (max-width: 25em) {
  .story__shape {
    float: none;
    left: 50%;
    transform: translateX(-50%) skewX(0);
    margin-bottom: 2.4rem;
  }
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all 0.5s;
}
@media only screen and (max-width: 25em) {
  .story__img {
    text-align: center;
  }
}
.story:hover .story__img {
  filter: blur(2px) brightness(0.8);
  transform: translateX(-4rem) scale(1);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  z-index: 100;
  transform: translate(-50%, 20%);
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group {
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 50em) {
  .form__group {
    margin-bottom: 0;
    width: 70%;
  }
}
@media only screen and (max-width: 43.75em) {
  .form__group {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form__group {
    width: 100%;
  }
}
.form__input {
  border-style: none;
  height: 3.2rem;
  width: 90%;
  padding: 2.4rem 1.6rem;
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}
.form__input::-webkit-input-placeholder, .form__input::placeholder {
  color: #c9c9c9;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input:focus:valid {
  border-bottom: 3px solid #55c57a;
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    height: 2.4rem;
    padding: 1.6rem 1.2rem;
    width: 100%;
  }
}
.form__input:-moz-placeholder-shown + .form__label {
  transform: translateY(-4rem);
  visibility: hidden;
  opacity: 0;
}
.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem);
  visibility: hidden;
  opacity: 0;
}
.form__label {
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  transition: all 0.3s;
  display: inline-block;
}
@media only screen and (max-width: 37.5em) {
  .form__label {
    padding: 0.4rem 0.2rem;
  }
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
@media only screen and (max-width: 50em) {
  .form__radio-group {
    display: block;
    width: auto;
  }
  .form__radio-group:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}
.form__radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  border: 3px solid #55c57a;
  border-radius: 50%;
  margin-right: 1.2rem;
}
.form__radio-input::before {
  content: "";
  display: block;
  width: 75%;
  height: 75%;
  background-color: #55c57a;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s;
}
.form__radio-input:checked::before {
  opacity: 1;
}
.form__radio-label {
  font-size: 1.6rem;
  color: #777;
}
.form__radio-input, .form__radio-label {
  cursor: pointer;
  vertical-align: middle;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
@supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
  .popup {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.popup__content {
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s 0.2s;
}
@media only screen and (max-width: 43.75em) {
  .popup__content {
    width: 90%;
  }
}
.popup__content-left {
  display: table-cell;
  width: 33.3333333333%;
}
@media only screen and (max-width: 90.5625em) {
  .popup__content-left {
    display: none;
  }
}
.popup__content-right {
  display: table-cell;
  width: 66.6666666667%;
  vertical-align: middle;
  padding: 2.4rem 4rem;
}
@media only screen and (max-width: 90.5625em) {
  .popup__content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.95) 0% 100%), url(../../img/nat-1-1500.jpg);
  }
}
.popup__img {
  width: 100%;
  display: block;
}
.popup__img:not(:last-child) {
  margin-bottom: 0.8rem;
}
.popup__text {
  font-size: 1.4rem;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  -moz-column-rule: 1px solid #c9c9c9;
       column-rule: 1px solid #c9c9c9;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}
@media only screen and (max-width: 56.25em) {
  .popup__text {
    -moz-column-count: 1;
         column-count: 1;
    -webkit-hyphens: none;
            hyphens: none;
  }
}
.popup__button {
  text-align: center;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.popup__close {
  position: fixed;
  top: 2.4rem;
  right: 2.4rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  transition: all 0.2s;
}
.popup__close-btn:link, .popup__close-btn:visited {
  line-height: 0;
  color: #777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
}
@media only screen and (max-width: 56.25em) {
  .popup__close-btn:link, .popup__close-btn:visited {
    font-size: 4.4rem;
  }
}
.popup__close-btn:link:hover, .popup__close-btn:link:active, .popup__close-btn:visited:hover, .popup__close-btn:visited:active {
  color: #fff;
}
.popup__close:hover {
  background-color: #55c57a;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.popup__close:active {
  transform: translateY(1px);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.5);
}

.section-about {
  background-color: #f7f7f7;
  padding: 22.4rem 0;
  margin-top: -20vh;
}
@media only screen and (max-width: 68.75em) {
  .section-about {
    padding: 24rem 3.2rem 20.8rem 3.2rem;
  }
}
@media only screen and (max-width: 50em) {
  .section-about {
    padding: 17.6rem 2.4rem 14.4rem 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about {
    padding: 14.4rem 1.6rem 9.6rem 1.6rem;
  }
}

.section-features {
  padding: 17.6rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4-1000.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -7rem;
}
.section-features > * {
  transform: skewY(5deg);
}
@media only screen and (max-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 62.5em) and (min-resolution: 96dpi), only screen and (max-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 31.25em) and (min-resolution: 192dpi), only screen and (max-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 20.81em) and (min-resolution: 288dpi) {
  .section-features {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4-1000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≤ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi (standard displays). 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≤ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≤ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (min-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 62.5em) and (min-resolution: 96dpi), only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 31.25em) and (min-resolution: 192dpi), only screen and (min-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (min-width: 20.81em) and (min-resolution: 288dpi) {
  .section-features {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4-1500.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi. 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≥ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (min-width: 93.75em) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 93.75em) and (min-resolution: 96dpi), only screen and (min-width: 46.875em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 46.875em) and (min-resolution: 192dpi), only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 3), only screen and (min-width: 31.25em) and (min-resolution: 288dpi) {
  .section-features {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4-2000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1500px (1500px screen width / 16px default font size = 93.75em) with a minimum resolution of 96dpi. 1.0DPR x 1500px = 1500px screen width.
    - Screen width ≥ 750px (750px screen width / 16px default font size = 62.5em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 750px = 1500px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 500px = 1500px screen width.
    */
  }
}
@media only screen and (max-width: 68.75em) {
  .section-features {
    padding: 16rem 0;
  }
}
@media only screen and (max-width: 50em) {
  .section-features {
    padding: 12.8rem 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-features {
    padding: 8rem 1.6rem;
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 17.6rem 0 14.4rem 0;
  margin-top: -7rem;
}
@media only screen and (max-width: 68.75em) {
  .section-tours {
    padding: 16rem 0 11.2rem 0;
  }
}
@media only screen and (max-width: 50em) {
  .section-tours {
    padding: 17.6rem 2.4rem 9.6rem 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-tours {
    padding: 14.4rem 1.6rem 9.6rem 1.6rem;
  }
}

.section-stories {
  padding: 14.4rem 0;
  position: relative;
}
@media only screen and (max-width: 68.75em) {
  .section-stories {
    padding: 11.2rem 0;
  }
}
@media only screen and (max-width: 50em) {
  .section-stories {
    padding: 9.6rem 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-stories {
    padding: 8rem 1.6rem;
  }
}

.section-book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 17.6rem 0;
}
@media only screen and (max-width: 68.75em) {
  .section-book {
    padding: 11.2rem 0;
  }
}
@media only screen and (max-width: 50em) {
  .section-book {
    padding: 9.6rem 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-book {
    padding: 8rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .section-book {
    padding: 4.8rem;
  }
}
@media only screen and (max-width: 25em) {
  .section-book {
    padding: 6.4rem 3.2rem;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 50%, transparent 50%), url(../../img/nat-10-1000.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 62.5em) and (min-resolution: 96dpi), only screen and (max-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 31.25em) and (min-resolution: 192dpi), only screen and (max-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 20.81em) and (min-resolution: 288dpi) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 50%, transparent 50%), url(../../img/nat-10-1000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≤ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi (standard displays). 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≤ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≤ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (min-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 62.5em) and (min-resolution: 96dpi), only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 31.25em) and (min-resolution: 192dpi), only screen and (min-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (min-width: 20.81em) and (min-resolution: 288dpi) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 50%, transparent 50%), url(../../img/nat-10-1500.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi. 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≥ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (min-width: 93.75em) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 93.75em) and (min-resolution: 96dpi), only screen and (min-width: 46.875em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 46.875em) and (min-resolution: 192dpi), only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 3), only screen and (min-width: 31.25em) and (min-resolution: 288dpi) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 50%, transparent 50%), url(../../img/nat-10-2000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1500px (1500px screen width / 16px default font size = 93.75em) with a minimum resolution of 96dpi. 1.0DPR x 1500px = 1500px screen width.
    - Screen width ≥ 750px (750px screen width / 16px default font size = 62.5em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 750px = 1500px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 500px = 1500px screen width.
    */
  }
}
@media only screen and (max-width: 43.75em) and (max-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 43.75em) and (max-width: 62.5em) and (min-resolution: 96dpi), only screen and (max-width: 43.75em) and (max-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 43.75em) and (max-width: 31.25em) and (min-resolution: 192dpi), only screen and (max-width: 43.75em) and (max-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 43.75em) and (max-width: 20.81em) and (min-resolution: 288dpi) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 60%, transparent 60%), url(../../img/nat-10-1000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≤ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi (standard displays). 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≤ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≤ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (max-width: 43.75em) and (min-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 43.75em) and (min-width: 62.5em) and (min-resolution: 96dpi), only screen and (max-width: 43.75em) and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 43.75em) and (min-width: 31.25em) and (min-resolution: 192dpi), only screen and (max-width: 43.75em) and (min-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 43.75em) and (min-width: 20.81em) and (min-resolution: 288dpi) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 60%, transparent 60%), url(../../img/nat-10-1500.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi. 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≥ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (max-width: 43.75em) and (min-width: 93.75em) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 43.75em) and (min-width: 93.75em) and (min-resolution: 96dpi), only screen and (max-width: 43.75em) and (min-width: 46.875em) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 43.75em) and (min-width: 46.875em) and (min-resolution: 192dpi), only screen and (max-width: 43.75em) and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 43.75em) and (min-width: 31.25em) and (min-resolution: 288dpi) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 60%, transparent 60%), url(../../img/nat-10-2000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1500px (1500px screen width / 16px default font size = 93.75em) with a minimum resolution of 96dpi. 1.0DPR x 1500px = 1500px screen width.
    - Screen width ≥ 750px (750px screen width / 16px default font size = 62.5em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 750px = 1500px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 500px = 1500px screen width.
    */
  }
}
@media only screen and (max-width: 37.5em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0% 100%, transparent 100%);
  }
}
.book__form {
  width: 50%;
  padding: 4.8rem;
}
@media only screen and (max-width: 50em) {
  .book__form {
    padding: 4rem;
    width: 70%;
  }
}
@media only screen and (max-width: 43.75em) {
  .book__form {
    padding: 3.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .book__form {
    width: auto;
    padding: 7.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .book__form {
    width: auto;
    padding: 3.2rem;
  }
}

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero-1000.jpg);
  background-size: cover;
  background-position: top;
  /* Load hero-1000.jpg image */
  /* Load hero-1500.jpg image */
  /* Load hero-2000.jpg image */
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  }
}
@media only screen and (max-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (max-width: 62.5em) and (min-resolution: 96dpi), only screen and (max-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 31.25em) and (min-resolution: 192dpi), only screen and (max-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-width: 20.81em) and (min-resolution: 288dpi) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero-1000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≤ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi (standard displays). 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≤ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≤ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (min-width: 62.5em) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 62.5em) and (min-resolution: 96dpi), only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 31.25em) and (min-resolution: 192dpi), only screen and (min-width: 20.81em) and (-webkit-min-device-pixel-ratio: 3), only screen and (min-width: 20.81em) and (min-resolution: 288dpi) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero-1500.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1000px (1000px screen width / 16px default font size = 62.5em) with a minimum resolution of 96dpi. 1.0DPR x 1000px = 1000px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 500px = 1000px screen width.
    - Screen width ≥ 333px (333px screen width/16px default font size = 20.81em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 333px = 999px screen width.
    */
  }
}
@media only screen and (min-width: 93.75em) and (-webkit-min-device-pixel-ratio: 1), only screen and (min-width: 93.75em) and (min-resolution: 96dpi), only screen and (min-width: 46.875em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 46.875em) and (min-resolution: 192dpi), only screen and (min-width: 31.25em) and (-webkit-min-device-pixel-ratio: 3), only screen and (min-width: 31.25em) and (min-resolution: 288dpi) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero-2000.jpg);
    /*
    Media query conditions explained:
    - Screen width ≥ 1500px (1500px screen width / 16px default font size = 93.75em) with a minimum resolution of 96dpi. 1.0DPR x 1500px = 1500px screen width.
    - Screen width ≥ 750px (750px screen width / 16px default font size = 62.5em) with a minimum resolution of 192dpi (2x Retina displays). 2.0DPR x 750px = 1500px screen width.
    - Screen width ≥ 500px (500px screen width/16px default font size = 31.25em) with a minimum resolution of 288dpi (3x Retina displays). 3.0DPR x 500px = 1500px screen width.
    */
  }
}
@media only screen and (max-width: 75em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 90%);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .header__logo-box {
    top: 6.4rem;
    left: 6.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-box {
    top: 4rem;
    left: 4rem;
  }
}
.header__logo {
  height: 4rem;
  backface-visibility: hidden;
}
.header__logo:hover {
  animation: enlarge 1s ease-in-out;
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    height: 4.8rem;
  }
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 50em) {
  .row {
    max-width: 55%;
  }
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6.4rem;
}
@media only screen and (max-width: 68.75em) {
  [class^=col-]:not(:last-child) {
    margin-right: 3.2rem;
  }
}
@media only screen and (max-width: 62.5em) {
  [class^=col-]:not(:last-child) {
    margin-right: 1.6rem;
  }
}
@media only screen and (max-width: 50em) {
  [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
@media only screen and (max-width: 50em) {
  [class^=col-] {
    width: 100% !important;
  }
}

.col-1-of-2 {
  width: calc((100% - 6.4rem) / 2);
}
@media only screen and (max-width: 68.75em) {
  .col-1-of-2 {
    width: calc((100% - 3.2rem) / 2);
  }
}
@media only screen and (max-width: 62.5em) {
  .col-1-of-2 {
    width: 100%;
  }
}

.col-1-of-3 {
  width: calc((100% - 12.8rem) / 3);
}
@media only screen and (max-width: 68.75em) {
  .col-1-of-3 {
    width: calc((100% - 6.4rem) / 3);
  }
}
@media only screen and (max-width: 62.5em) {
  .col-1-of-3 {
    width: calc((100% - 3.2rem) / 3);
  }
}

.col-1-of-4 {
  width: calc((100% - 19.2rem) / 4);
}
@media only screen and (max-width: 68.75em) {
  .col-1-of-4 {
    width: calc((100% - 9.6rem) / 4);
  }
}
@media only screen and (max-width: 62.5em) {
  .col-1-of-4 {
    width: calc((100% - 4.8rem) / 4);
  }
}

.col-2-of-3 {
  width: calc((100% - 12.8rem) / 3 * 2 + 6.4rem);
}
@media only screen and (max-width: 68.75em) {
  .col-2-of-3 {
    width: calc((100% - 6.4rem) / 3 * 2 + 3.2rem);
  }
}
@media only screen and (max-width: 62.5em) {
  .col-2-of-3 {
    width: calc((100% - 3.2rem) / 3 * 2 + 1.6rem);
  }
}

.col-2-of-4 {
  width: calc((100% - 19.2rem) / 4 * 2 + 6.4rem);
}
@media only screen and (max-width: 68.75em) {
  .col-2-of-4 {
    width: calc((100% - 9.6rem) / 4 * 2 + 3.2rem);
  }
}
@media only screen and (max-width: 62.5em) {
  .col-2-of-4 {
    width: calc((100% - 4.8rem) / 4 * 2 + 1.6rem);
  }
}

.col-3-of-4 {
  width: calc((100% - 19.2rem) / 4 * 3 + 12.8rem);
}
@media only screen and (max-width: 68.75em) {
  .col-3-of-4 {
    width: calc((100% - 9.6rem) / 4 * 3 + 6.4rem);
  }
}
@media only screen and (max-width: 62.5em) {
  .col-3-of-4 {
    width: calc((100% - 4.8rem) / 4 * 3 + 3.2rem);
  }
}

footer {
  background-color: #333333;
  padding: 14.4rem 0;
  color: #f7f7f7;
  font-size: 1.4rem;
}
@media only screen and (max-width: 62.5em) {
  footer {
    padding: 11.2rem 0;
  }
}
@media only screen and (max-width: 50em) {
  footer {
    padding: 9.6rem 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  footer {
    padding: 8rem 1.6rem;
  }
}

.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 6.4rem;
}
@media only screen and (max-width: 50em) {
  .footer__logo-box {
    margin-bottom: 3.2rem;
  }
}
.footer__navigation, .footer__copyright {
  display: inline-block;
  width: 84.5%;
  padding-top: 1.6rem;
  border-top: 1px solid #777;
}
@media only screen and (max-width: 62.5em) {
  .footer__navigation, .footer__copyright {
    width: 100%;
  }
}
.footer__navigation {
  text-align: center;
}
@media only screen and (max-width: 62.5em) {
  .footer__navigation {
    margin-bottom: 6.4rem;
  }
}
.footer__copyright {
  float: right;
}
@media only screen and (max-width: 62.5em) {
  .footer__copyright {
    float: none;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.6rem;
}
.footer__link, .footer__link:link, .footer__link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f7f7;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active, .footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
  color: #55c57a;
  transform: rotate(5deg) scale(1.3);
  box-shadow: 0 0.5rem 1.5rem 0.3rem rgba(0, 0, 0, 0.3);
  background-color: #333333;
}

.navigation__checkbox {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.navigation__icon {
  position: relative;
  top: 50%;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  height: 1.5px;
  width: 3.2rem;
  background-color: #333333;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  transform: scaleY(1.5) translateY(-0.1rem);
}
.navigation__button:hover .navigation__icon::after {
  transform: scaleY(1.5) translateY(0.1rem);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__button, .navigation__background {
  display: inline-block;
  border-radius: 50%;
  position: fixed;
}
.navigation__button {
  width: 6.4rem;
  height: 6.4rem;
  top: 6.4rem;
  right: 6.4rem;
  background-color: #fff;
  z-index: 300;
  text-align: center;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.navigation__button:hover {
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.navigation__button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(0.3rem);
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3.6rem;
    right: 3.6rem;
  }
}
.navigation__background {
  width: 5.9rem;
  height: 5.9rem;
  top: 6.8rem;
  right: 6.8rem;
  z-index: 100;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.8rem;
    right: 3.8rem;
  }
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.navigation__item {
  display: block;
  list-style: none;
  margin: 1.2rem;
}
.navigation__link, .navigation__link:link, .navigation__link:visited {
  font-size: 3.6rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.8rem 2.4rem;
  background-image: linear-gradient(120deg, transparent 0 50%, #fff 50% 100%);
  transition: all 0.4s;
  background-size: 230%;
}
.navigation__link span, .navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.6rem;
}
.navigation__link:hover, .navigation__link:active, .navigation__link:link:hover, .navigation__link:link:active, .navigation__link:visited:hover, .navigation__link:visited:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(0.8rem);
}
@media only screen and (max-width: 31.25em) {
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */