body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  // 1.7 Line height means that the line height is 1.7x times bigger than the default value.
  // font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  // To stop web browsers from moving the html element to the top at the end of the animation (shaking issue) we need to use the backface-visibility property and set its value to hidde
  backface-visibility: hidden;
  margin-bottom: 6.4rem;

  &--main {
    display: block;
    font-size: 6.2rem;
    letter-spacing: 3.6rem;
    font-weight: 400;

    animation-name: MoveInLeft;
    animation-duration: 1s;
    // animation-delay: 3s;
    // animation-iteration-count: 3;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    font-weight: 700;

    // Let's use a CSS property, which contain all the necessary animation properties to shorten our code.
    animation: MoveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  // In case the property is not supported across all browsers, declaring it with a vendor-specific prefix may help, e.g., a -webkit- prefix indicates that this property is declared to support WebKit-based browsers like Chrome and Safari. In the case of Mozilla, it uses a -moz- prefix, whereas Edge and IE use -m-. Vendor prefixes allow developers to use new or experimental CSS features not broadly supported across web browsers.
  -webkit-background-clip: text;
  // The "background-cip: text" CSS declaration results in displaying background only behind the text. The property is declared for general use - it isn't browser-specific. The general CSS properties should always be declared after vendor-specific declarations. If it isn't supported, web browser switches to a vendor-specific CSS declaration.
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    // skew() syntax - skew(ax, ay), clockwise
    transform: skew(15deg, 2deg) scale(1.1);
    // rgba() syntax
    // rgba(red, green, blue, alpha)
    // rgba(color/variable, alpha)
    // alpha - opacity
    text-shadow: 0.5rem 1rem 1rem rgba($color-black, 0.3);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom:3rem;
}
