// We should only use the !important keyword with utility classes. Using it with utility classes is a legitimate reason.
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-extrabig {
  margin-bottom: 9.6rem !important;
}