// We should only use the !important keyword with utility classes. Using it with utility classes is a legitimate reason.
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-extrabig {
  margin-bottom: 9.6rem !important;
}

.u-mediaquery-about {
  // width < 800px
  @include respond-to(tab-port-med) {
    max-width: 80% !important;
  }
}

.u-mediaquery-composition {
  // width < 1000px
  @include respond-to(tab-land-sm) {
    &:not(:last-child) {
      margin-bottom: 8rem;
    }
  }
  // width < 800px
  @include respond-to(tab-port-med) {
    margin-bottom: 8rem;
  }
}
.u-mediaquery-book {
  // width < 800px
  @include respond-to(tab-port-med) {
    max-width: 100% !important;
  }
}

.u-mediaquery-footer {
  // width < 1000px
  @include respond-to(tab-land-sm) {
    max-width: 80% !important;
  }
}
